#principal {
    background-image: url(Img/moto.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 15px;
}

h1{
    color: azure;
    text-align: center;
    
}

a{
    color: azure;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

a:link a:visited{
    color: azure ;
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
}

a:hover{
    color: rgb(20, 172, 199);
    border-radius: 30px;
    background: blue;
}

#cabecalho {
    padding: 18px;
    text-align: center;
}

